.page {
  padding-top: 10px;
  width: 100%;
}
.login-form {
  margin: auto;
  color: gray;
  width: 300px;
}
.login-input {
  float: right;
  width: 180px;
}
.button {
  width: 40%;
}
.button-120 {
  width: 120px;
}
.button-right {
  float: right;
  margin-right: 10px;
}
.button-left {
  float: left;
  margin-left: 10px;
}
.login-button-left {
  margin-left: 7%;
}
.login-button-right {
  margin-right: 7%;
  float: right;
}
.register-button {
  margin-left: 30%;
}
.validation-error input {
  border-color: red;
}
.group-select {
  min-width: 100px;
  height: 25px;
  vertical-align: middle;
}
.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white-content {
  position: absolute;
  top: 15%;
  left: 50%;
  padding: 16px;
  background-color: white;
  z-index: 1002;
  overflow-y: scroll;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  width: 500px;
  max-height: 50%;
}
.home-grid {
  padding-left: 25px;
}
.group-grid {
  padding-top: 25px;
}
.action-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding-left: 0;
}
.popup-button-left {
  margin-left: 100px;
}
.popup-button-right {
  margin-left: 20px;
}
.popup-input {
  float: right;
  width: 250px;
}