.page {
  padding-top: 10px;
  width: 100%;
}
.login-form {
  margin: auto;
  color: gray;
  width: 300px;
}
.login-input {
  float: right;
  width: 180px;
}
.button-small {
  width: 40%;
}
.button-120 {
  width: 120px;
}
.button-right {
  float: right;
  margin-right: 10px;
}
.button-left {
  float: left;
  margin-left: 10px;
}
.login-button-left {
  margin-left: 7%;
}
.login-button-right {
  margin-right: 7%;
  float: right;
}
.input-right {
  float: right;
}
.register-button {
  margin-left: 30%;
}
.validation-box {
  color: red;
}
.status-box {
  color: blue;
}
.group-select {
  min-width: 100px;
  height: 25px;
  vertical-align: middle;
}
.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white-content {
  position: absolute;
  top: 15%;
  left: 50%;
  padding: 16px;
  background-color: white;
  z-index: 1002;
  overflow-y: scroll;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  width: 500px;
  max-height: 70%;
}
.block-group {
  display: inline-block;
}
.block-padded {
  padding-top: 25px;
}
.block-grid {
  padding-left: 25px;
  width: 50%;
  display: table;
  float: left;
  min-width: 500px;
}
.action-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding-left: 0;
}
.popup-button-left {
  margin-left: 100px;
}
.popup-button-right {
  margin-left: 20px;
}
.popup-input {
  float: right;
  width: 250px;
}
.header {
  background-color: black;
  color: white;
  height: 50px;
  width: 100%;
}
.header-item {
  margin-left: 10px;
  font-size: 14px;
  height: 100%;
  vertical-align: middle;
}
.header-item-active {
  font-size: 20px;
}
.settings-form {
  width: 300px;
  margin-left: 20px;
}
/*overrides*/
.pagination > .active > a {
  background-color: #555555;
  border-color: #555555;
  color: white;
}
.pagination > .active > a:hover,
.pagination > .active > a:focus {
  background-color: #222222;
  border-color: #222222;
}
.pagination > li > a {
  color: #222222;
}
.pagination > li > a:hover,
.pagination > li > a:focus {
  color: black;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus {
  color: #777;
}
.pagination > .disabled > a > button {
  cursor: not-allowed;
}